################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zadacha1Var6/Debug
/Zadacha1Var6/.vs/Zadacha1Var6/v14
/Zadacha1Var6/Zadacha1Var6/Debug
/Zadacha1Var6/Zadacha1Var6.VC.VC.opendb
/Zadacha1Var6/Zadacha1Var6.VC.db
*.suo
/Zadacha2Var6/Debug
/Zadacha1Var6/Zadacha2Var6
*.tlog
*.obj
*.log
/Zadacha2Var6/Zadacha2Var6.VC.db
*.idb
*.pdb
*.opendb
/Zadacha1Var6/x64/Debug
/List/Debug
*.db
*.exe
*.ilk
